html{
    font-size: 16px !important;
    color: #000000 !important;
}                    /* admin_form css */
                    
                    .log {
                      
                        margin: auto;
                        margin-top: 100px;
                        padding-top: 50px;
                        padding-bottom: 50px;
                        border-radius: 5px;
                        box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);                    }
                    
                    .btnotp {
                      height: 40px;
                      border: none;
                      background-color: #0b0b9d;
                      width: 243px;
                      border-radius: 5px;
                      color: white;
                      font-size: 18px;
                    }
                    
                    .mno {
                        width: 70%;
                        border: none;
                        padding: 12px 20px;
                        margin: 8px 0;
                        box-sizing: border-box;
                        /* border: 2px solid red; */
                        border-radius: 4px;
                        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    }
                    
                    .txtotp {
                        margin-left: 5px;
                        margin-top: 20px;
                        border: none;
                        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                    }
                    
                    .otp1 {
                        margin-top: 20px;
                        height: 30px;
                        width: 30px;
                        text-align: center;
                    }
                    
                    .btnsignin {
                      margin-top: 25px;
                      height: 40px;
                      border: none;
                      background-color: #0b0b9d;
                      width: 243px;
                      border-radius: 5px;
                      color: white;
                      font-size: 18px;
                    }
                    
                    .getotp {
                        height: 40px;
                        background-color: blue;
                        width: 300px;
                        border-radius: 25px;
                        color: white;
                        font-size: 20px;
                    }
                    
                    .m_no {
                        border-bottom: 5px solid black;
                        border-left: none;
                        border-top: none;
                        border-right: none;
                    }
                    /* card css */
                    /* form css */
                    
                    .formdiv {
                        margin-top: 40px;
    /* border: 1px solid black; */
    border-radius: 5px;
    margin-left: 150px;
    height: 363px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
                    }
                    
                    .cathead {
                        margin: auto;
                        height: 70px;
                        font-size: 40px;
                        width: 100%;
                        text-align: center;
                        color: black;
                        text-shadow: 2px 2px 3px #8342F6;
                        /* background-image: linear-gradient(180deg, #8342F6, #7696FF); */
                    }
                    
                    .text1 {
                      margin: auto;
                      padding: 5px;
                      height: 47px;
                      margin-top: 15px;
                      border: 3px solid #bec7d6;
                      border-radius: 5px;
                      width: 90%;
                    }
                    
                     ::placeholder {
                        color: blue;
                    }
                    
                    .btn-grd-primary {
                        background-size: 200% auto;
                        transition: 0.5s ease-in-out;
                        color: #fff;
                        background-image: linear-gradient(to top, #79a3ff 0%, #8342F6, #7696FF 100%);
                    }
                    
                    .btn-grd-primary:hover {
                        background-position: bottom center;
                    }
                    
                    .button1 {
                        margin: auto;
                        height: 50px;
                        font-size: 20px;
                        text-align: center;
                        margin-top: 40px;
                        width: 400px;
                        border-radius: 30px;
                        background-image: linear-gradient(60deg, #7696FF, #8342F6);
                    }
                    
                    .button1:hover {
                        background-image: linear-gradient(60deg, #8342F6, #7696FF);
                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.9);
                        font-size: 25px;
                        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                    }
                    
                    .button2 {
                        margin: auto;
                        height: 45px;
                        font-size: 18px;
                        text-align: center;
                        margin-top: 20px;
                        width: 200px;
                        border-radius: 20px;
                        background-image: linear-gradient(60deg, #7696FF, #8342F6);
                    }
                    
                    .button2:hover {
                        background-image: linear-gradient(60deg, #8342F6, #7696FF);
                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.9);
                        font-size: 20px;
                    }
                    
                    .table1 {
                        width: 600px;
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 20px;
    /* border: 2px solid; */
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
                    }
                    
                    .table3 {
  text-align: center;
  font-size: 17px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
                  }
                  
                    th {
                        height: 50px;
                        font-size: 22px;
                        text-align: center;
                        width: 600px;
                        font-weight: 100;
                        color: #ffffff;
                        
                    }
                    .tr1{
                      background: linear-gradient(to left, #7696ff -8%, #5d3e93 94%);
                      color: #ffffff;
                    }
                    tr {
                        height: 60px;
                        border-radius: 10px;
                    }
                    /* .t1 {
                        font-size: 25px;
                        text-align: center;
                        width: 50%;
                        height: 30px;
                    } */
                    /* index image */
                    /* .c1 {
                        background-image: url('login.jpg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 700px;
                        width: 700px;
                    } */
                    /* search */
                    
                    form.example input[type=text] {
                        padding: 10px;
                        font-size: 17px;
                        border: 1px solid grey;
                        float: left;
                        width: 60%;
                        background: #f1f1f1;
                        border-radius: 15px 15px 15px 15px;
                    }
                    
                    form.example button {
                        float: left;
                        width: 10%;
                        height: 47px;
                        padding: 10px;
                        background: #7696FF;
                        color: white;
                        font-size: 17px;
                        border: 1px solid grey;
                        border-left: none;
                        cursor: pointer;
                        border-radius: 0px 15px 15px 0px;
                    }
                    
                    form.example button:hover {
                        background: #7C72FB;
                    }
                    
                    form.example::after {
                        content: "";
                        clear: both;
                        display: table;
                    }
                    
                    .formdiv2 {
                        margin-top: 40px;
                        /* border: 1px solid black; */
                        border-radius: 5px;
                        margin-left: 150px;
                        height: 363px;
                        width: 300px;
                        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
                    }
                    /* combo category */
                    
                    .select1 {
                      margin: auto;
                      padding: 5px;
                      height: 47px;
                      margin-top: 50px;
                      border: 3px solid #bec7d6;
                      border-radius: 5px;
                      cursor: pointer;
                      width: 90%;
                    }
                    /* sidebar */
                    
                    .home {
                        font-size: 100px;
                    }
                    .side,
                    .side1,
                     .side2,
                     .side3,
                     .side4,
                     .side5{
                        opacity: 0.9;
                    }
                    
                    .side:hover{opacity: 1;
                        border-right:6px solid rgb(2, 41, 13); height: 70px;margin-bottom: 14px;}
                     .side2:hover{opacity: 1;
                        border-right:6px solid #824FF8; height: 70px;margin-bottom: 14px;}
                     .side3:hover{ opacity: 1;
                        border-right:6px solid #FC5888; height: 70px;margin-bottom: 14px;}
                     .side4:hover{ opacity: 1;
                        border-right:6px solid #FF793E; height: 70px;margin-bottom: 14px;}
                     .side5:hover{ opacity: 1;
                        border-right:6px solid rgb(20,80,254);height: 70px;margin-bottom: 14px;}
        
                    .navcolor{
                        color: #000000;
                    }
                    /* admin tutor cards */
                    figure.snip0067 {
                        font-family: 'Raleway', Arial, sans-serif;
                        position: relative;
                        overflow: hidden;
                        margin: 10px;
                        min-width: 220px;
                        max-width: 310px;
                        width: 100%;
                        background: #ffffff;
                        color: #000000;
                      }
                      
                      figure.snip0067 * {
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        -webkit-transition: all 0.35s ease-in-out;
                        transition: all 0.35s ease-in-out;
                      }
                      
                      figure.snip0067 img {
                        max-width: 100%;
                        position: relative;
                        display: block;
                      }
                      
                      figure.snip0067:before {
                        position: absolute;
                        content: '';
                        height: 100%;
                        width: 90%;
                        z-index: 1;
                        left: -20%;
                        background: rgba(255, 255, 255, 0.7);
                        border: 1px solid #fff;
                        -webkit-transition: all 0.4s ease-in-out;
                        transition: all 0.4s ease-in-out;
                        -webkit-transform: skewX(-30deg) translateX(-80%);
                        transform: skewX(-30deg) translateX(-80%);
                        -webkit-box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
                        box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
                      }
                      
                      figure.snip0067 figcaption {
                        padding-left: 30px;
                        position: absolute;
                        left: 0;
                        top: 25%;
                        width: 60%;
                        z-index: 1;
                        opacity: 0;
                      }
                      
                      figure.snip0067 figcaption h2,
                      figure.snip0067 figcaption p {
                        margin: 0;
                        text-align: left;
                        padding: 5px 0 0;
                        width: 100%;
                      }
                      
                      figure.snip0067 figcaption h2 {
                        font-size: 1.4em;
                        font-weight: 300;
                        text-transform: uppercase;
                      }
                      
                      figure.snip0067 figcaption h2 span {
                        font-weight: 800;
                      }
                      
                      figure.snip0067 figcaption p {
                        font-weight: 500;
                        font-size: 0.9em;
                        opacity: 0.8;
                      }
                      
                      figure.snip0067 figcaption .icons {
                        width: 100%;
                        padding: 8px 0;
                      }
                      
                      figure.snip0067 figcaption .icons i {
                        display: inline-block;
                        font-size: 20px;
                        background: #000000;
                        color: #ffffff;
                        margin-right: 5px;
                        opacity: 0;
                        height: 35px;
                        width: 35px;
                        text-align: center;
                        line-height: 35px;
                        border-radius: 50%;
                      }
                      
                      figure.snip0067 figcaption a {
                        opacity: 0.7;
                      }
                      
                      figure.snip0067 figcaption a:hover {
                        opacity: 1;
                      }
                      
                      figure.snip0067 .position {
                        position: absolute;
                        display: flex;
                        bottom: 0;
                        width: 100%;
                        text-align: right;
                        padding: 12px 12px 10px 12px;
                        font-size: 0.9em;
                        opacity: 1;
                        font-weight: 500;
                        color: #ffffff;
                        background: #000000;
                      }
                      
                      figure.snip0067.blue .icons i {
                        background: #164666;
                      }
                      
                      figure.snip0067.blue .position {
                        background: #20638f;
                      }
                      
                      figure.snip0067.red .icons i {
                        background: #6d2018;
                      }
                      
                      figure.snip0067.red .position {
                        background: #962d22;
                      }
                      
                      
                      figure.snip0067:hover figcaption,
                      figure.snip0067.hover figcaption,
                      figure.snip0067:hover .icons i,
                      figure.snip0067.hover .icons i {
                        opacity: 1;
                        -webkit-transition-delay: 0.2s;
                        transition-delay: 0.2s;
                      }
                      
                      figure.snip0067:hover:before,
                      figure.snip0067.hover:before {
                        -webkit-transform: skewX(-30deg) translateX(0px);
                        transform: skewX(-30deg) translateX(0px);
                      }
                      
                          .button {
                              display: inline-block;
                          border-radius: 4px;
                          background: linear-gradient(to left, #7696ff 0%, #8342f6 78%);
                          border: none;
                          color: #FFFFFF;
                          text-align: center;
                          font-size: 23px;
                          padding: 4px;
                          width: 200px;
                          transition: all 0.5s;
                          cursor: pointer;
                          margin-left: 0px;
                          margin-top: 30px;
                          box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
                      }
                      .button:hover{
                          background-image: linear-gradient( 
                      60deg
                       , #7696FF, #8342F6);
                      }
                      .button span {
                        cursor: pointer;
                        display: inline-block;
                        position: relative;
                        transition: 0.5s;
                      }
                      
                      .button span:after {
                        content: '\00bb';
                        position: absolute;
                        opacity: 0;
                        top: 0;
                        right: -20px;
                        transition: 0.5s;
                      }
                      
                      .button:hover span {
                        padding-right: 25px;
                       
                      }
                      
                      .button:hover span:after {
                        opacity: 1;
                        right: 0;
                        
                      }
                      
                      /* button delete all */
                      .btndeleteall{
                        border-radius: 4px;
                        background: linear-gradient(to left, #7696ff 0%, #8342f6 78%);
                        border: none;
                        color: #FFFFFF;
                        text-align: center;
                        font-size: 15px;
                        padding: 4px;
                        width: 93px;
                        transition: all 0.5s;
                        cursor: pointer;
                        /* margin-left: 52px; */
                        margin-top: 30px;
                        /* box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
                      }